body {
    font-family: Arial, sans-serif;
    background-color: rgba(25, 77, 110, 0.5);
    padding: 0;
    
}
  
  .container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    background-color:whitesmoke;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color:rgb(112, 53, 11);;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(112, 53, 11);;
  }
  #navigation{
    background-color:rgba(5, 35, 49, 0.9);
    width: 100%;
   
}
ul li{
    list-style: none;
    display: inline-block;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: aliceblue;

}
.icons ul {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    list-style: none;
    
    /* margin-right: 400px; */
    
    
}
a{
    color: whitesmoke;
    text-decoration: none;
}
.header2{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
    padding: 10px;
    font-size: 15px;
   
    font-weight: bold;
    color: aliceblue;
   
}
.header2 ul{
    display: flex;
    gap: 20px;
}
.header2 ul li {
list-style: none;

}